body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight:bold;
    font-size: 22px;
    transition: 1s;
}